body.services {
  background-color: #fff;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: #000;

  display: flex;

  .wrapper {
    flex: 1 1 auto;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;

    > header {
      display: none;
    }

    > #menu {
      position: relative;
      z-index: 10;
      flex: 0 1 auto;

      nav {
        background: transparent !important;
        padding: 15px;

        @media (min-width: 768px) {
          padding: 15px 30px;
        }

        @media (min-width: 1024px) {
          padding: 30px 60px;
        }
      }
    }

    > footer {
      z-index: 2;
      flex: 0 1 auto;
      // border: 10px solid red;
      font-size: 12px;
    }

    > main {
      z-index: 2;
      flex: 1 1 auto;

      display: flex;

      flex-direction: column;
      //   justify-content: flex-end;
      padding: 15px;

      @media (min-width: 768px) {
        flex-flow: row wrap;
        padding: 30px;
      }

      @media (min-width: 1024px) {
        padding: 60px;
      }

      h1 {
        font-size: 3rem;
        font-family: "Merriweather", serif;
      }

      h2 {
        text-align: left;
      }

      > header {
        width: 100%;
        margin-bottom: 2rem;
      }

      > .informations {
        @media (min-width: 768px) {
          width: 25%;
        }
      }

      > .localisations {
        @media (min-width: 768px) {
          width: 75%;
        }
      }

      > .assistance {
        margin-top: 15px;
        @media (min-width: 768px) {
          margin-top: 30px;
          width: 100%;
        }
      }
    }
  }
}
