body.video {
  background-color: #fff;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: #000;

  display: flex;

  .wrapper {
    flex: 1 1 auto;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;

    > header {
      display: none;
    }

    > #menu {
      position: relative;
      z-index: 10;
      flex: 0 1 auto;

      nav {
        background: transparent !important;
        padding: 15px;

        @media (min-width: 768px) {
          padding: 15px 30px;
        }

        @media (min-width: 1024px) {
          padding: 30px 60px;
        }
      }
    }

    > footer {
      z-index: 2;
      flex: 0 1 auto;
      // border: 10px solid red;
      font-size: 12px;
    }

    > main {
      z-index: 2;
      flex: 1 1 auto;

      display: flex;

      flex-direction: column;
      //   justify-content: flex-end;
      padding: 15px;

      @media (min-width: 768px) {
        padding: 30px;
      }

      @media (min-width: 1024px) {
        padding: 60px;
      }

      header.main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        h1 {
          font-size: 3rem;
        }
      }

      h1 {
        font-family: "Merriweather", serif;
      }

      h2 {
        text-align: left;
      }
    }
  }

  .videos-list {
    flex: 0 1 auto;

    display: flex;
    flex-flow: row wrap;

    max-width: 1200px;
    // padding:  0;
    margin: 15px -15px;

    .video-item {
      display: flex;
      // prend toute la largeur de l'écran sur mobile
      width: 100%;

      padding: 15px;

      // 3 cartes par lignes sur tablette portrait
      @media (min-width: 768px) {
        width: percentage(1/2);
      }

      // 4 cartes par lignes sur tablette paysage
      @media (min-width: 1024px) {
        width: percentage(1/3);
      }

      .video-card {
        flex: 1;
      }
    }
  }
}

.video-card {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

  padding: 15px;

  display: flex;
  flex-flow: column;

  &__video {
    position: relative;
    order: 1;
    margin: -15px -15px 15px -15px;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      padding-bottom: 50%;
    }

    video {
      position: absolute;
      left: 0;
      top: 50%;

      width: 100%;
      height: auto;

      transform: translateY(-50%);
    }
  }
  &__title {
    font-size: 2rem;
  }
  &__header {
    order: 2;
  }
  &__description {
    order: 3;
  }
}
